:root {
}

.window {
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    -unity-text-outline-color: rgb(0, 0, 0);
    background-color: rgb(67, 67, 67);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.message {
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.closebutton {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 100%;
    -unity-text-align: middle-center;
    align-self: flex-end;
    height: 15%;
    border-bottom-right-radius: 10px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    background-image: url("project://database/Assets/Sprites/UI/fantasy-strategy-game-ui/PNG/btn/button_empty_5.png?fileID=2800000&guid=d43e9a6f548db0e47830a21f9c905220&type=3#button_empty_5");
    background-color: rgba(0, 0, 0, 0);
    -unity-background-image-tint-color: rgb(255, 255, 255);
    border-left-color: rgba(255, 255, 255, 0);
    border-right-color: rgba(255, 255, 255, 0);
    border-top-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 0);
    -unity-text-auto-size: best-fit 4px 200px;
    width: 63%;
    -unity-text-generator: advanced;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-top: 1%;
    padding-right: 1%;
}

.closebutton:hover {
    scale: 1.1 1.1;
    transition-duration: 0.3s;
}

.closebutton:active {
    scale: 0.9 0.9;
    transition-duration: 0s;
}

.tooltip {
}

.sideButton {
    width: 70px;
    height: 70px;
    align-self: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    transition-property: width, height;
    transition-duration: 0.3s, 0.3s;
}

.sideButton:hover {
    width: 80px;
    height: 80px;
}

.sideButton:active {
    width: 65px;
    height: 65px;
}

.buyButton {
    background-image: url("project://database/Assets/Sprites/UI/button_money2.png?fileID=2800000&guid=7edf124c0133bba4bb6fc960b91b3550&type=3#button_money2");
    width: 160px;
    align-self: center;
    background-color: rgba(188, 188, 188, 0);
    border-left-color: rgba(149, 149, 149, 0);
    border-right-color: rgba(149, 149, 149, 0);
    border-top-color: rgba(149, 149, 149, 0);
    border-bottom-color: rgba(149, 149, 149, 0);
    background-size: 90% 100%;
    padding-left: 20%;
}

.buyButton:hover {
    background-image: url("project://database/Assets/Sprites/UI/button_money2.png?fileID=2800000&guid=7edf124c0133bba4bb6fc960b91b3550&type=3#button_money2");
    align-self: center;
    background-color: rgba(188, 188, 188, 0);
    border-left-color: rgba(149, 149, 149, 0);
    border-right-color: rgba(149, 149, 149, 0);
    border-top-color: rgba(149, 149, 149, 0);
    border-bottom-color: rgba(149, 149, 149, 0);
    padding-left: 20%;
    scale: 1.1 1.1;
}

.buyButton:active {
    background-image: url("project://database/Assets/Sprites/UI/button_money2.png?fileID=2800000&guid=7edf124c0133bba4bb6fc960b91b3550&type=3#button_money2");
    align-self: center;
    background-color: rgba(188, 188, 188, 0);
    border-left-color: rgba(149, 149, 149, 0);
    border-right-color: rgba(149, 149, 149, 0);
    border-top-color: rgba(149, 149, 149, 0);
    border-bottom-color: rgba(149, 149, 149, 0);
    padding-left: 20%;
    scale: 0.9 0.9;
}

.contractInfoLabel {
    margin-top: 29px;
    padding-right: 106px;
    font-size: 24px;
    color: rgb(255, 255, 255);
}

.InfoLabel {
}
